<section class="role-block">
    <div class="text">
        <h2 class="role-year">2023</h2>
        <h3 class="role-title">Eternal Dreams</h3>
        <p class="meta">Fantasy Drama | 106 min</p>
        <p><span class="role-properties">Role:</span> <span class="name-properties"> Emma Williams</span></p>
        <p class="description">
            <span class="description-properties">Description:</span> <span class="description-content">In this giggling fantasy drama, Emma Williams is on a journey through a mystical realm where
            dreams blur with reality. As secrets from the past and her wish for inner freedom clash, HD movie captivated
            audiences with its depth and intensity.</span>
        </p>
        <ul class="awards">
            <li>Best Fantasy Film - International Fantasy Film Festival 2023;</li>
            <li>Best Actress - Julie Smith, Global Movie Awards 2023;</li>
            <li>Best Cinematography - Hollywood Visual Arts Awards 2023.</li>
        </ul>
    </div>
    <div class="image">
        <img src="img/eternal-dreams.png" alt="Eternal Dreams" />
    </div>
</section>