<section class="role-block">
    <div class="text">
        <h2 class="role-year">2018</h2>
        <h3 class="role-title">Grandmaster</h3>
        <p class="meta">Drama | 117 min</p>
        <p><span class="role-properties">Role:</span> <span class="name-properties">Pia Cramling</span></p>
        <p class="description">
            <span class="description-properties">Description:</span> <span class="description-content">Set against the backdrop of the late 20th century, this biopic drama tells about Pia Canning, one of the first female chess grandmasters. Her journey is one of trials, mastering the game and the art of breaking patterns.</span>
        </p>
        <ul class="awards">
          <li> Best Biographical Drama - International Film Festival 2018;</li>
          <li> Best Actress in a Leading Role - Julie Smith, CMA Awards 2018;</li>
          <li> Best Original Screenplay - Screenwriters Guild Awards 2018.</li>
        </ul>
    </div>
    <div class="image">
        <img src="img/grandmaster.png" alt="Grandmaster" />
    </div>
</section>