<section class="role-block reverse">
    <div class="text">
        <h2 class="role-year">2022</h2>
        <h3 class="role-title">Grandmaster</h3>
        <p class="meta">Historical Melodrama | 108 min</p>
        <p><span class="role-properties">Role:</span> <span class="name-properties"> Charlotte Windsbury</span></p>
        <p class="description">
            <span class="description-properties">Description:</span> <span class="description-content">Born into nobility in England in the 18th century, Lady Charlotte navigates the pressures of
            high society, love-power dynamics, family honour and forbidden love shape her destiny. It’s a timeless tale
            of enduring power of love amidst societal constraints.</span>
        </p>
        <ul class="awards">
            <li> Best Historical Drama - Independent Film Festival 2022;</li>
            <li> Best Actress - Julie Smith, Royal Film Awards 2022;</li>
            <li> Best Costume Design - Academy Awards 2022.</li>
        </ul>
    </div>
    <div class="image">
        <img src="img/lady-charlotte.png" alt="Lady Charlotte" />
    </div>
</section>