<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actor Portfolio</title>
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
    <header class="site-header">
        <h1 class="title">My Best <span class="underlined-word">Performances</span>, <br>Stories, and Main Roles</h1>
        <span class="years">2018–2024</span>
    </header>

    <main class="main-content">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.header-hero.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.stats.partial.html"
      ></section>

      <section
       data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/index.contact-info.partial.html"
      ></section>
    </main>

    <footer class="footer">
      <!-- можна додати пізніше -->
    </footer>
  </body>
</html>
